#iMain .mainWrap {
    width: 100%;
    padding: 0rem;
    margin: 0 auto;
    overflow: hidden;
}

.mainBanner {
    width: 100%;
    background-color: #333;
}

.slick .mb {
    display: none;
}

.slick-slide {
    height: auto;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li {
    margin: 0px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

#mainAbout,
#mainSkill {
    background-image: url(../images/services_w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainAbout {
    height: 300px;
}

#mainWorks {
    padding: 1.5rem 4rem 3rem;
}

#mainSkill {
    padding: 1.8rem 0;
}

#mainWorks h2,
#mainSkill h2,
#mainAbout h2 {
    color: #fff;
    margin: 0;
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
}

#mainWorks h2 {
    color: #000;
    font-weight: bold;
}

.skillArea {
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
}

.skillList {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.skillList li {
    float: left;
    width: calc(100%/8);
    padding: 0 .5rem;
}

.skillBox {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all .6s;
    overflow: hidden;
}

.skillBox img {
    display: block;
    padding: 0 2.5rem;
    padding-bottom: 1rem;
}

.skillTitle {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    font-weight: normal;
}

.skillTxt {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

footer {
    color: #333;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.6rem;
}

@media screen and (max-width:1400px) {
    .skillList li {
        padding: 0 .25rem;
    }
    .skillBox img {
        padding: 0 2rem;
        padding-bottom: .6rem;
    }
    .skillTitle {
        font-size: 1rem;
        padding-bottom: .6rem;
        letter-spacing: 1px;
    }

    .skillTxt {
        font-size: .9rem;
        line-height: 1.25rem;
    }
}

@media screen and (max-width:1200px) {
    #mainWorks {
        padding: 1.5rem 2.1rem 3rem;
    }
    .skillArea {
        padding: 0 7rem;
    }
    .skillBox img {
        padding: 0 3rem;
        padding-bottom: .5rem;
    }
    .skillList li {
        width: calc(100%/4);
        padding: 0 1rem;
    }
    .skillTitle {
        font-size: 1.25rem;
        padding-bottom: .5rem;
        letter-spacing: 1px;
    }

    .skillTxt {
        font-size: 1rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width:992px) {
    .skillArea {
        padding: 0 4rem;
    }
    .skillBox img {
        padding: 0 2.5rem;
        padding-bottom: .5rem;
    }
    .skillList li {
        padding: 0 .5rem;
    }
}

@media screen and (max-width:768px) {
    #mainAbout,
    #mainSkill {
        background-image: url(../images/services_m.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    #mainWorks {
        padding: 1.5rem 1.5rem 3rem;
    }
    .skillArea {
        padding: 0 1.5rem;
    }
    .skillBox img {
        padding: 0 1.5rem;
        padding-bottom: .25rem;
    }
    .skillList li {
        padding: 0 .25rem;
    }
    .skillTitle {
        font-size: 1rem;
        padding-bottom: .25rem;
    }

    .skillTxt {
        font-size: .9rem;
        line-height: 1.25rem;
    }
    .slick .mb {
        display: block;
    }
    .slick .pc {
        display: none;
    }
}

@media screen and (max-width:576px) {
    #mainWorks h2,
    #mainSkill h2,
    #mainAbout h2 {
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 1.5px;
    }
    #mainWorks {
        padding: 1.5rem 1rem 3rem;
    }
    .skillArea {
        padding: 0 3rem;
    }
    .skillList li {
        width: calc(100%/2);
        padding: 0 .5rem;
    }
    .skillBox img {
        padding: 0 2.5rem;
        padding-bottom: .5rem;
    }
    .skillTitle {
        font-size: 1.25rem;
        padding-bottom: .5rem;
    }

    .skillTxt {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width:410px) {
    .skillArea {
        padding: 0 .5rem;
    }
    .skillList li {
        width: calc(100%/2);
        padding: 0 .5rem;
    }
    .skillBox img {
        padding: 0 2.25rem;
        padding-bottom: .25rem;
    }
    .skillTitle {
        font-size: 1rem;
        padding-bottom: .25rem;
    }

    .skillTxt {
        font-size: .9rem;
        line-height: 1.25rem;
    }
}
